/* push main down to have room for fixed top nav  */
main {
    margin-top: 35px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/vendor/material-icons/iconMaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../fonts/vendor/material-icons/iconMaterialIcons-Regular.woff2) format('woff2'),
        url(../fonts/vendor/material-icons/iconMaterialIcons-Regular.woff) format('woff'),
        url(../fonts/vendor/material-icons/iconMaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

i {
    vertical-align: middle !important;
    padding-bottom: 3px;
}

.flash-message {
    position: absolute;
    z-index: 5;
    top: 200px;
    -webkit-animation: fadeIn-fadeOut 6s forwards;
    animation: fadeIn-fadeOut 6s forwards;
}

@keyframes fadeIn-fadeOut {
    0% {opacity: 0; right: 0px; z-index: 1;}
    10% {opacity: 1; right: 200px; z-index: 1;}
    90% {opacity: 1; right: 200px; z-index: 1;}
    100% {opacity: 0; right: 0px; z-index: -1;}
}

.max-width-md {
    max-width: 970px;
}

.min-width-md {
    min-width: 970px;
}